<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head %>
    <body>
        <%- include ../partials/nav %>
        
            <div class="jumbotron img-fluid" >
                <div class="container">
                    <h1>How can I assist you?</h1>
                    <p>Bacon ipsum dolor amet jowl spare ribs sausage shankle, tail buffalo pork chop doner. Landjaeger pastrami brisket doner.
                    Meatloaf porchetta frankfurter strip steak short loin rump. Shoulder spare ribs buffalo, swine picanha short ribs chicken.</p>
                    <a href="" class="btn btn-primary btn-lg">Learn More</a>
                </div>
            </div>
            <div class="container">
                <%- include ../partials/columns %>
            </div>
        <%- include ../partials/footer %>
        <%- include ../partials/scripts %>
    </body>
</html>